Bonus (Optional)

In [ ]:
# Dependencies
import pandas as pd
import sqlalchemy
import pprint
import psycopg2
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# Connection to local database
from sqlalchemy import create_engine
engine = create_engine('postgres://postgres:admin@localhost:5432/employees2_db')
connection = engine.connect()

In [ ]:
# Histogram to visualize the most common salary ranges 
# Dataframe for salaries table 
salaries = pd.read_sql("SELECT* FROM salaries", connection)
salaries.head(10)

In [ ]:
# Describing salaries table
salaries["salary"].describe()

In [ ]:
plt.rcParams['figure.figsize']=(6,5)
plt.hist(salaries['salary'],bins=8, color='xkcd:blue',alpha=1,edgecolor='black')
plt.title('Employees\nSalary Ranges',fontsize=25,pad=45)
plt.xlabel('Salaries $',fontsize=19,color='black',labelpad=28)
plt.ylabel('Count',fontsize=16,color='black',labelpad=20)
plt.xlim(35000,120000)
plt.xticks(fontsize=10)
plt.yticks(fontsize=10)
plt.show()

s_mean=salaries['salary'].mean()
s_max=salaries['salary'].max()
s_min=salaries['salary'].min()

# Saving image
plt.savefig("Images/Employees Salary Range.png")

# Show plot
plt.show()

In [ ]:
# Renaming salaries table
salaries_table = salaries.rename(columns={"emp_no": "Employee Number", "salary": "Salary"})
salaries_table.head(10)

In [ ]:
# Dataframe for employees table 
employees = pd.read_sql("SELECT* FROM employees", connection)
employees.head(10)

In [ ]:
# Renaming employees table
employees_table = employees.rename(columns={"emp_no": "Employee Number",
                                            "emp_title_id": "Employee Title ID",
                                            "birth_date": "Birth Date",
                                            "first_name": "First Name",
                                            "last_name": "Last Name",
                                            "sex": "Sex",
                                            "hire_date": "Hire Date"})
employees_table.head(10)

In [ ]:
# Dataframe for dept_emp table
dept_emp = pd.read_sql("SELECT* FROM dept_emp", connection)
dept_emp.head(10)

In [ ]:
# Renaming dept_emp table
dept_emp = dept_emp.rename(columns={"emp_no": "Employee Number",
                                    "dept_no": "Department Number"})
dept_emp.head(10)

In [ ]:
# Dataframe for departments table
departments = pd.read_sql("SELECT* FROM departments", connection)
departments.head(10)

In [ ]:
# Renaming departments table
departments_table = departments.rename(columns={"dept_no":"Department Number",
                                                "dept_name": "Department Name"})
departments_table.head(10)

In [ ]:
# Dataframe for titles table
titles = pd.read_sql("SELECT* FROM titles", connection)
titles.head(10)

In [ ]:
# Renaming titles table
titles_table = titles.rename(columns={"title_id":"Employee Title ID"})
titles_table.head(10)

In [ ]:
# Joining salaries and employees tables
combined_data = pd.merge(salaries_table,employees_table, on="Employee Number", how="inner")
combined_data.head(10)

In [ ]:
# Joining combined_data and titles_table
join_combined_data = pd.merge(combined_data, titles_table, on="Employee Title ID", how="inner")
join_combined_data.head()

In [ ]:
# Dropping columns from join_combined_data
columns_grouped_data = join_combined_data.drop(columns = ["Employee Title ID","Birth Date",
                                                          "First Name","Last Name","Sex","Hire Date"])
columns_grouped_data.head()

In [ ]:
# Groupby title
grouped_df = join_combined_data.groupby("title").mean()
grouped_df

In [ ]:
# Showing only Employee Title ID and Salary columns
columns_grouped_df = grouped_df.drop(columns = "Employee Number")
columns_grouped_df

In [ ]:
# Resetting Index
columns_grouped_df = columns_grouped_df.reset_index()
columns_grouped_df